/* reset code and common code starts here  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: 0;
    font-weight: 400;
}

html::selection{
    background-color: #ABBAE0;
}

.icon{
    display: none;
}

html {
    background-color: #fafafa;
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #fff;
    width: 120rem;
    max-width: 100%;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0rem 0.1rem #c4c4c4;
}

.text-justify {
    text-align: justify;
}

.text-white {
    color: #fff;
}

.section-heading {
    font-size: 8rem;
    text-align: center;
    font-family: "Italianno", cursive;
}

.section-center {
    padding: 5rem 1rem;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    background-color: rgb(230, 159, 8);
    border: none;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #222;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1rem 0;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

hr{
    width: 90%;
    margin: 0 auto;
    color: black;
}
/* reset code and common code ends here  */

/* header designing starts */
nav{
    position: sticky;
}

.nav-links{
    background: black;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.nav-links a{
    font-size: 2rem;
    color: white;
    margin: 10px;
    padding: 10px;
    transition: .5s;
    border-radius: 5px;
}

.nav-links a:hover{
    background-color: blue;
}
/* header designing ends */

/* home section designing starts */
.home-title{
    width: 85%;
    padding: 200px 0;
    margin: 0 auto;
    text-align: center;
    background-image: url('images/cover-photo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    height: auto;
}

.home-title h1{
    display: inline;
    padding: 10px;
    font-size: 3.5rem;
    background-color: black;
    color: white;
}

.home-title p{
    padding-top: 15px;
    font-size: 2rem;
}
/* home section designing ends */

/* about section designing starts */
#about-sec{
    background-color: #4C4C4C;
    padding: 20px;
}

.about-heading{
    text-align: center;
    font-family: 'Italianno',cursive;
    font-size: 6rem;
    padding: 70px;
    color: white;
}

.card{
    margin: 30px;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    background-color: #A09D9D;
    transition: .5s;
}

.card h1{
    font-size: 3.5rem;
    padding: 20px;
}

.card p{
    font-size: 2rem;
}

.card button{
    padding: 10px;
    margin: 20px;
}

.card:hover{
    transform: scale(1.1);
}
/* about section designing ends */

/* archives section designing starts */
.arc-heading{
    text-align: center;
    font-family: 'Italianno',cursive;
    font-size: 6rem;
    padding: 70px;
    color: black;
}

.arc-images{
    text-align: center;
}

.arc-images img{
    height: 200px;
    width: auto;
    padding: 30px;
    border-radius: 10%;
    transition: .5s;
}

.arc-images img:hover{
    transform: scale(1.2);
}
/* archives section designing ends */

/* blog posts designing starts */
.blog-post{
    border: 1px solid #222;
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    transition: .5s;
}

.blog-post:hover {
    transform: scale(1.1);
}

.blog-post img{
    height: auto;
    width: 100%;
}

.blog-post h2{
    font-size: 4.5rem;
    margin: 10px;
}

.blog-post h3{
    font-size: 2rem;
    margin: 10px;
}

.blog-post p{
    font-size: 2rem;
    margin: 10px;
}

.bp-heading h1{
    text-align: center;
    font-family: 'Italianno',cursive;
    font-size: 8.5rem;
    padding: 70px;
    color: black;
}

.blog-btn{
    padding: 15px;
    margin: 10px;
}
/* blog posts designing ends */

/* contact section designing start */
#contact-sec{
    background-color: #4C4C4C;
    text-align: center;
    margin: 0 auto;
}

.contact-heading h1{
    text-align: center;
    font-family: 'Italianno',cursive;
    font-size: 8.5rem;
    padding: 70px;
    color: black;
}

.contact-form{
    padding: 1rem;
    box-shadow: .1rem .1rem .1rem #222, -.1rem 0 -.1rem #222;
    margin: rem;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.form-control{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control label{
    font-size: 1.6rem;
    flex: .3;
}

input, textarea{
    flex: .7;
    width: 40rem;
    font-size: 2rem;
    padding: 2rem 1rem;
    border: none;
    border-radius: .6rem;
}

textarea{
    resize: none;
    height: 12vh;
}

.contact-btn{
    width: 20%;
}
/* contact section designing ends */

/* footer section designing starts */
footer{
    background-color: #333;
    padding: 30px;
    text-align: center;
}

footer p{
    color: white;
    font-size: 2rem;
    margin: 10px;
}

footer i{
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    margin: 10px;
    cursor: pointer;
}

footer .top{
    color: mediumpurple;
}

footer .yt {
    color: red;
}

footer .rdt {
    color: tomato;
}

footer .gt {
    color: black;
}
/* footer section designing ends */

/* for small devices */
@media screen and (max-width: 700px){
    .nav-links{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

     
}   
